@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

// media query

/*
0-600 - phone
600px - 900px  - tab - portraid
900px - 1200px  - tab - landscape
1200 px - 1800px - desktop


*/

// @mixin respond-phone {
//   @media (max-width: 600px) {
//     @content;
//   }
// }

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 600px) {
      @content;
    }
  }

  @if $breakpoint == tab-port {
    @media (max-width: 900px) {
      @content;
    }
  }
  @if $breakpoint == tab-land {
    @media (max-width: 1200px) {
      @content;
    }
  }
  @if $breakpoint == big-desk {
    @media (max-width: 1800px) {
      @content;
    }
  }
}
