@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

// media query

/*
0-600 - phone
600px - 900px  - tab - portraid
900px - 1200px  - tab - landscape
1200 px - 1800px - desktop




*/
