$color_primary: #55c57a;
$color_primary_light: #7ed56f;
$color_primary_dark: #55c57a;
$color_grey_dark: #777;
$color_grey_light_1: #f7f7f7;
$color_white: #fff;
$color_black: #000;

// font
$default-font-size: 11.6rem;

// Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 3rem;
