.footer {
  background-color: #333;
  padding: 10rem 0;
  font-size: 1.4rem;

  &__logo-box {
  }

  &__logo {
    width: 12rem;
    height: auto;
  }

  &__navigation {
  }

  &__list {
  }

  &__item {
  }

  &__link {
  }
}
